
/* .list-group-item.active {
  background-color: #007bff;
  color: white;
  border-radius: 10%;

}

.list-group-item {
  cursor: pointer;
}

.table th, .table td {
  white-space: nowrap; 
 } 

 .table th:nth-child(1),
.table td:nth-child(1) {
  width: 10%; 
}

.table th:nth-child(2),
.table td:nth-child(2) {
  width: 15%; 
}

.table th:nth-child(3),
.table td:nth-child(3) {
  width: 15%; 
}

.table th:nth-child(4),
.table td:nth-child(4) {
  width: 20%; 
}

.table th:nth-child(5),
.table td:nth-child(5) {
  width: 50%; 
}

.table th:nth-child(6),
.table td:nth-child(6) {
  width: 5%; 
}

.table th:nth-child(7),
.table td:nth-child(7) {
  width: 5%; 
}


.pagination {
  margin-top: 1rem;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav{
  background-color: rgb(141, 141, 141);
  border-top-left-radius:5px ;
  border-top-right-radius:5px ;
}    */

/* ----------------------------------------------------------- */


.list-group-item-action:hover {
  background-color: #007bff; 
  color: white; 
}




 /* .table-responsive {
  overflow-x: unset; 
  width: 100%; 
}

.table {
  table-layout: fixed; 
  width: 100%; 
  max-width: 100%; 
}

.table th, .table td {
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden; 
}

.container {
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
}

.pagination {
  margin-top: 1rem;
}

.nav{
  background-color: rgb(141, 141, 141);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}  */
